go 1.21

use (
	../pushersv
	../adminsv
	../authsv
	../edgesv
	../messagesv
	../squaresv
	../uploadsv
	../akita-go
	../deliversv
	../favoritesv
	../groupsv
	../momentsv
	../paysv
	../smssv
	../usersv
	../testgo
)
