<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
        <fastCgi>
            <application fullPath="D:\\bin\\php\\php8.5\\php-cgi.exe" activityTimeout="600" requestTimeout="600" />
        </fastCgi>
    </system.webServer>
</configuration>
